{% from "molecules/logo.jinja2" import logo %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      dir="{{ language|language_direction }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{'springboard:static/img/favicon.ico'|static_url}}" />
    <title>{{ title|default(_("The Internet of Good Things")) }}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="description" content="{{ description|default("") }}" />
    <meta name="keywords" content="{{ keywords|default("") }}" />
    <link href="{{'springboard_iogt_ug:static/css/style.css'|static_url}}?v=20151015-1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="screen and (min-width: 20em)" href="{{'springboard_iogt_ug:static/css/super.css'|static_url}}?v=20151015-1" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
        {% if available_languages|length > 1 %}
        <div class="lang">
            <span>{{ language|display_language_name }}</span><span> | </span>
            {% for lang_code in display_languages %}
                <span>
                    <a href="{{ 'locale_matched'|route_url(language=lang_code) }}">{{ lang_code|display_language_name }}</a>
                </span>
                {% if not loop.last %}<span> | </span>{% endif %}
            {% endfor %}
            {% if display_languages|length + 1 < available_languages|length %}
            <span> | </span><span><a href="{{ 'locale_change'|route_url }}">&hellip;</a></span>
            {% endif %}
        </div>
        {% endif %}
        <div class="logo">
            {% block logo %}{{ logo('stacked') }}{% endblock %}
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="submenu">
        {% block menu %}
        <div class="h1"><div class="detail">{% trans %}Explore IoGT{% endtrans %}</div></div>
        <ul class="options">
        {% for section in content_sections %}
            {% set section_url=content_section_url_overrides.get(section.slug, 'content_section'|route_url(slug=section.slug)) %}
            <li class="{{section.slug}}"><a href="{{ section_url }}">{{ section.title }}<p>{{section.descriptor}}</p></a>
            </li>
        {% endfor %}
        {% for section in content_section_url_overrides_data_list %}
        <li class="{{section.slug}}"><a href="{{ section.url }}">{{ section.data.title }}<p>{{section.data.descriptor}}</p></a>
        {% endfor %}
            <li class="home"><a href="{{ 'home'|route_url }}">{{ _("Home") }}</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="footer">
        <div>&copy; {% trans %}The Internet of Good Things{% endtrans %}</div>
        <div><span><a href="{{ 'about'|route_url }}">{{ _('About Internet of Good Things') }}</a></span></div>
    </div>

</body>
</html>
