/*  SETTINGS (device specific etc)  */

    html, body { -webkit-text-size-adjust: none; }
    *, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    :focus { outline: none; }


/*  GLOBALS  */

    html, body { margin: 0; padding: 0; background: #fff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 1.4em; color: #666; }
    input, select, textarea { font-size: 95%; font-family: Arial, Helvetica, sans-serif; }
    a { color: #9630c8; text-decoration: none; font-weight: bold; }
    .clr { width: 100%; height: 0px; clear: both; display: block; }
    .purple { background: #4d4391; color: #fff; }
    .grey { background: #ededed; color: #666; }


/*  HEADER  */

    #header { width: 100%; background: #000; position: relative; z-index: 100000; }
        #header .logo { background-color: #4d4391; }
        #header .logo a { margin: 0; display: block; line-height: 0; }
        #header .logo-stacked { padding: 24px; }
        #header .logo-stacked img { width: 50%; }
        #header .logo-long { padding: 14px 24px; }
        #header .logo-long img { width: 66%;}
        #header .drop { display: none; }
        #header .lang {width: 100%; line-height: 20px; padding: 9px 24px; display: block; background: #2d2d2d; color: #4d4391; }
            #header .lang a {color: #fff; font-weight: normal; }


/*  SUBMENU  */

    #submenu .h1 { background: #4d4391; color: #fff; }
    #submenu ul { list-style: none; padding: 0; margin: 0;}
    #submenu li { background: #ededed; }
    #submenu li a{ display: block; border-bottom: solid 1px #fff; padding: 14px 24px;}
    #submenu p{ display: none;}

/*  BANNER  */

    #banner { padding: 0; margin: 0 0 3px 0; position: relative; z-index: 1; }
        #banner img { width: 100%; display: block; }


/*  CONTENT  */

    #content { background: #fff; position: relative; }

        /* Frequently Used */
        .h1,
        .pagination { line-height: 24px; margin: 0; padding: 14px 24px; font-weight: bold; background: #ededed; }
        .listing { min-height: 45px; border-bottom: solid 1px #e4e4e4; }
        .pagination { border-bottom: solid 1px #e4e4e4;}
            .pagination span { color: #b0b0b0; }
        .align-right { float:right; }

        /* Articles */
        .articles { padding: 0; margin: 0; }
            .articles .listing { padding: 24px 24px; }
            .articles .section-link { font-size: 88%; }
                .articles .listing img { width: 40%; float: left; margin: 3px 18px 0 0; display: block; }
                .articles .full-image img { width: 100%; margin: 14px 0 14px 0; float: none; display: block; }
                .articles .listing .h2 { margin: 0; padding: 0; color: #000;  }
                .articles .listing p { margin: 0; padding: 2px 0 0 0; color: #888888; }
                .articles .article{ padding: 14px 24px;}
                .articles .article .h2 { font-weight: bold; font-size: 125%; line-height: 28px; margin-bottom: 16px; }
                .articles .article .meta { font-weight: bold;}
                .articles .article pre {
                    word-break: break-all; /* webkit */
                    word-wrap: break-word;
                    white-space: pre;
                    white-space: -moz-pre-wrap; /* fennec */
                    white-space: pre-wrap;
                    white-space: pre\9; /* IE7+ */
                }
                .articles .article img { width: 100%; margin: 24px 0; display: block; }

        /* Content section-specific */
        .section-title { margin: 0; padding: 0; background-color: #4d4391; }
            .section-title div { margin: 0; padding: 24px 24px; line-height: 32px; font-size: 200%; font-weight: bold; }
            .section-title a { color: #fff; }
        .section-banner { padding: 0; margin: 0; }
            .section-banner img { width: 100%; padding: 0; margin: 0; display: block; }

        /* Facts For Life */
        .articles .ffl a { color: #00bfc6; }
        .section-title.ffl div { background-color: #00bfc6; }

        /* Barefoot Law */
        .articles .yourrights a { color: #6ec17f; }
        .section-title.yourrights div { background-color: #6ec17f; }

        /* Mariestopes */
        .articles .myfamily a { color: #6093cd; }
        .section-title.myfamily div { background-color: #6093cd; }

        /* Straight Talk */
        .articles .healthtalk  a { color: #E24256; }
        .section-title.healthtalk  div { background-color: #E24256; }

        /* U-report */
        .articles .ureport a { color: #ff7e4e; }
        .section-title.ureport div { background-color: #ff7e4e; }

        /* Ebola */
        .articles .ebola a { color: #ffbe61; }
        .section-title.ebola div { background-color: #ffbe61; }

        /* Connect Smart */
        .articles .connectsmart a { color: #f38aa5; }
        .section-title.connectsmart div { background-color: #f38aa5; }

        /* HIV */
        .articles .allin a { color: #4f946e; }
        .section-title.allin div { background-color: #4f946e; }

        /* Personae */
        .personae { padding: 0; margin: 0; }
            .personae a { display: block; padding: 0.4em 24px; }

/* PERSONA*/
    #content ul.personae{list-style: none; padding: 13px 0px;}


/*  FOOTER  */

    #footer { padding: 24px; position: relative; }
    #footer a { color: #4d4391; }


/*  RETINA (because it's nice when you work on something that looks good)  */

    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx)
    {

        /* header */
        /*#header a.logo { background: url('../img/logo_x2.png') no-repeat; background-size: 197px 46px; }*/

    }


/* PREVIEW: Mobile "preview" for large screens */

    @media screen and (min-width: 1024px) {
        html {
            background-color: #333;
        }
        body {
            max-width: 320px;
            margin: 0 auto;
        }
    }
