    @import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:normal,bold);

    /*  GLOBALS  */

    html, body { font-size: 18px; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; }
    input, select, textarea { font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; }

    .personae li{border-bottom: solid 2px #e4e4e4; }
    .personae a {
        padding: 2em 1em 2em 6em;
        background: transparent 10px 10px/75px 75px no-repeat;
    }

    .personae .youth-boy a{background-image: url('img/youth_male.jpg');}
    .personae .youth-girl a{background-image: url('img/youth_female.jpg');}
    .personae .father a{background-image: url('img/parent_male.jpg');}
    .personae .mother a{background-image: url('img/parent_female.jpg');}

    #submenu .h1 {
        padding: 0;
    }
    #submenu .h1 .detail{
        padding: 1em 3em;
        background: 20px 22px no-repeat;
        background-size: 15px 15px;
        background-image: url("img/arrow_down_purple.png");
    }

    #content .h1 {
        padding: 0;
    }
    #content .h1 .detail{
        padding: 1em 3em;
        background: 20px 22px no-repeat;
        background-size: 15px 15px;
        background-image: url("img/arrow_down_grey.png");
    }

    #content .h1 .back{
        padding: 1em 3em;
        background: 20px 22px no-repeat;
        background-size: 15px 15px;
        background-image: url("img/arrow_red.png");
    }

    #content .articles .yourrights .h1 .back{background-image: url("img/arrow_green_flipped.png")}
    #content .articles .ebola .h1 .back{background-image: url("img/arrow_yellow_flipped.png");}
    #content .articles .ffl .h1 .back{background-image: url("img/arrow_turquoise_flipped.png");}
    #content .articles .myfamily.h1 .back{background-image: url("img/arrow_turquoise_flipped.png");}
    #content .articles .healthtalk .h1 .back{background-image: url("img/arrow_red_flipped.png");}
    #content .articles .ureport .h1 .back{background-image: url("img/arrow_orange_flipped.png");}
    #content .articles .connectsmart .h1 .back{background-image: url("img/arrow_lightpink_flipped.png");}
    #content .articles .allin .h1 .back{background-image: url("img/arrow_darkgreen_flipped.png");}

    .articles .detail { padding: 24px; }

    #submenu li {
        padding: 0;
        background: #ededed;
        border-bottom: solid 1px #fff; }
    #submenu li a {
        padding: 1em 3em;
        color: #666;
        background: transparent 20px 23px no-repeat;
        background-size: 15px 15px;
    }
    #submenu p {
        display: block;
        font-weight: 100;
        margin: 0;
        font-size: 14px;
    }

    #submenu .yourrights a{background-image: url("img/arrow_green.png")}
    #submenu .ebola a{background-image: url("img/arrow_yellow.png");}
    #submenu .ffl a{background-image: url("img/arrow_turquoise.png");}
    #submenu .myfamily a{background-image: url("img/arrow_turquoise.png");}
    #submenu .healthtalk a{background-image: url("img/arrow_red.png");}
    #submenu .ureport a{background-image: url("img/arrow_orange.png");}
    #submenu .connectsmart a{background-image: url("img/arrow_lightpink.png");}
    #submenu .home a{background-image: url("img/arrow_right_grey.png");}
    #submenu .allin a{background-image: url("img/arrow_darkgreen.png");}

    #content .home .articles .listing {position: relative;}
    #content .home .articles .listing:after {padding:0; margin:0; display:block; content: ""; width:93%; height:10px; position: absolute;right: 0;top:0;}
    #content .home .articles .ffl:after {background-color:#00bfc6; }
    #content .home .articles .yourrights:after {background-color:#A1B500;}
    #content .home .articles .myfamily:after {background-color:#30A8EF; }
    #content .home .articles .healthtalk:after {background-color:#D3232D; }
    #content .home .articles .ureport:after {background-color:#ff7e4e; }
    #content .home .articles .ebola:after {background-color:#ffbe61; }
    #content .home .articles .connectsmart:after {background-color:#f38aa5; }
    #content .home .articles .allin:after {background-color:#4f946e; }

    #content .section-title.h1 {padding: 0;}

    #content .h1.pad{padding: 14px 24px;}

    /* PERSONA*/
    #content ul.personae{padding: 0;}
